.header {
  height: 100px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
.headerTitle {
  width: 100%;
  font-size: 40px;
  font-family: "Kanit";
  font-weight: 200;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.headerTitleBottomLine {
  height: auto;
  width: 350px;
  text-align: center;
  position: absolute;
  z-index: 0;
  top: 62.5%;
  left: 50.7%;
  transform: translateY(-50%) translateX(-50%);
}
.moreLinkBox {
  width: 100%;
  text-align: center;
}
.moreLink {
  padding: 0 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: "Kanit";
  font-weight: 200;
  color: #329b51;
  background: linear-gradient(transparent 100%, #94e39c 0%);
}
.moreLink:hover {
  background: linear-gradient(transparent 95%, #94e39c 0%);
}
