.centerH1 {
  text-align: center;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  margin-bottom: 2em;
}
.ulContent {
  list-style-type: "・";
  padding-left: 10px;
}

.profileContainer {
  display: grid;
  gap: 3% 3%;
  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;
  margin-bottom: 3em;
}
.profileContainerMini {
  display: grid;
  gap: 3% 3%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  margin-bottom: 2em;
}
.detailsContainer {
  display: grid;
  gap: 3% 3%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  margin-bottom: 3em;
}
.itemName {
  font-family: "Kanit";
  font-weight: 200;
  font-size: 20px;
  color: rgb(112, 112, 112);
  padding: 0 0 0 17px;
  border-left: 6px solid #f4bfd6;
  border-bottom: 1px solid #f4bfd6;
}

.itemSpec {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 16px;
  padding: 0 0 0 23px;
  margin: 7px 0;
  word-wrap: break-word;
}
