.linkTextDecoration {
  color: black;
  text-decoration: none;
}

.box {
  min-width: 200px;
  opacity: 1;
  transition: all 0.3s;
  border: solid 1px #ddd;
  position: relative;
  margin-bottom: 0em;
}
.box:hover {
  opacity: 0.8;
}

.title {
  margin: 3px 5px;
  font-size: 17px;

  font-family: "Noto Sans JP", sans-serif;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: absolute;
  right: 3px;
  top: 3px;
}
.tagUl {
  margin: 5px;
  padding: 0;
  list-style: none;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: 20px;
  border-radius: 5px;
  padding: 0 0.5em;
  background-color: #fff;
  border: 1px solid #aaa;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(107, 107, 107);
  font-size: 12px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-sizing: border-box;
}
.tag:hover {
  background-color: rgb(147, 147, 147);
  border: 1px solid rgb(147, 147, 147);
  color: rgb(44, 43, 43);
}
.tag:before {
  content: "#";
  padding-right: 2px;
}

.description {
  margin: 3px 5px;
  font-size: 15px;
  font-weight: 100;
  color: rgb(105, 104, 104);
  font-family: "Noto Sans JP", sans-serif;
}
