.footer {
  height: 200px;
  background-color: #6363a8;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snsSoundcloud {
  font-size: 40px;
  margin: 1em;
  color: white;
}

.snsSoundcloud:hover {
  color: #fe5000;
}
.snsYoutube {
  font-size: 40px;
  margin: 1em;
  color: white;
}

.snsYoutube:hover {
  color: #ff0000;
}
.snsTwitter {
  font-size: 40px;
  margin: 1em;
  color: white;
}

.snsTwitter:hover {
  color: #1da1f2;
}
