.navBar {
  position: sticky;
  top: 0px;
  z-index: 50;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 1px #ddd;
  font-size: 1.6em;
}

.navTop {
  font-family: "Kanit";
  vertical-align: middle;
  font-weight: 300;
  margin-left: 1.3em;
  color: black;
  text-decoration: none;
  padding: 7px 0px;
}

.navContentBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 1.2em;
}

.navContent {
  width: 3em;
  background: linear-gradient(transparent 100%, #94e39c 0%);
  text-align: center;
  margin: 0px 9px;
  font-family: "Kanit";
  padding: 7px 0px;
  font-weight: 200;
  color: black;
  text-decoration: none;
}

.navContent:hover {
  background: linear-gradient(transparent 95%, #94e39c 0%);
}

.navContentActive {
  width: 3em;
  background: linear-gradient(transparent 100%, #94e39c 0%);
  text-align: center;
  margin: 0px 9px;
  font-family: "Kanit";
  padding: 7px 0px;
  font-weight: 200;
  color: #329b51;
  text-decoration: none;
}
.navContentActive:hover {
  background: linear-gradient(transparent 95%, #94e39c 0%);
}

.navUlSmartphone {
  padding-left: 0px;
  list-style: none;
  text-align: center;
}
.navUlContent {
  padding-bottom: 0.7em;
}
.navTopSmartphone {
  font-family: "Kanit";
  vertical-align: middle;
  font-weight: 300;
  margin-left: 0.7em;
  color: black;
  text-decoration: none;
  padding: 7px 0px;
}
.navHumbergButton {
  display: block;
  margin: 0 0 0 auto;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
.navHumbergButton svg {
  display: inline-block;
  vertical-align: middle;
  fill: #000;
  height: 100%;
  margin-right: 0.25rem;
}
