.header {
  height: 750px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.headerSmartphone {
  height: 500px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.header:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  transform: rotate(-9deg);
  background-image: url("../images/header-background-loop.svg");
  background-size: 500px 500px;
  background-repeat: repeat;
  opacity: 0;
  animation: bgiLoop 40000s linear infinite,
    bgiFade 1.5s linear 1.7s 1 normal forwards;
}
@keyframes bgiFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.15;
  }
}
@keyframes bgiLoop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 500px 1578437px;
  }
}
.header:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 0;
  background-color: #faeeee;
  animation: bgiAfter 1.5s ease 1s 1 normal forwards;
}
@keyframes bgiAfter {
  0% {
    height: 200%;
  }
  100% {
    height: 0;
  }
}
.headerSmartphone:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  transform: rotate(-9deg);
  background-image: url("../images/header-background-loop.svg");
  background-size: 500px 500px;
  background-repeat: repeat;
  opacity: 0.15;
}
.campus {
  height: 750px;
  margin: auto;
  max-width: 1264px;
  position: relative;
  backface-visibility: hidden;
}
/*タイトル文字*/
.topMessageBox {
  font-size: 55px;
  font-family: "Kanit";
  font-weight: 200;
  left: 0%;
  z-index: 4;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}
.topMessageBoxMini {
  font-size: 55px;
  font-family: "Kanit";
  font-weight: 200;
  left: 0%;
  z-index: 4;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  animation: topMessageBoxSmartphoneBG 0.6s linear 1s 1 normal forwards;
}
.topMessageBoxSmartphone {
  font-size: 55px;
  font-family: "Kanit";
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0);
  left: 50%;
  z-index: 4;
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  animation: topMessageBoxSmartphoneBG 0.6s linear 1s 1 normal forwards;
}
@keyframes topMessageBoxSmartphoneBG {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.7);
  }
}
.passingBar1 .passingBar2 .passingBar3 {
  position: relative;
  display: inline-block;
  transform: translate3d(0, 0, 0);
}
.passingBar1:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  background: #f4bfd6;
  animation: passingBar 0.6s ease 0s 1 normal forwards;
}
.passingBar2:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #94e39c;
  animation: passingBar 0.75s ease 0.15s 1 normal forwards;
}
.passingBar3:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: #878ac4;
  animation: passingBar 0.75s ease 0.3s 1 normal forwards;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes passingBar {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  51% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.passingTxt {
  opacity: 0;
  padding: 0 30px;
  transform: translate3d(0, 0, 0);

  animation: passingTxt 0s ease 0.5s 1 normal forwards;
}

@keyframes passingTxt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*アイコン*/
.headerImage1 {
  right: -10%;
  z-index: 1;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  opacity: 0;
  animation: imgLoop 1s linear 0.5s normal forwards;
}
.headerImage1Smartphone {
  z-index: 1;

  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  opacity: 0;
  animation: imgLoop 1s linear 0.5s normal forwards;
}
@keyframes imgLoop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.headerImage2:hover .headerImage2IMG {
  visibility: visible;
}
.headerImage2 {
  right: -10%;
  z-index: 2;
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
  animation: imgLoop 1s linear, delay 2s step-end 0s normal forwards;
}

@keyframes delay {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.headerImage2IMG {
  visibility: hidden;
}
.headerTitle {
  font-size: 55px;
  font-family: "Kanit";
  font-weight: 200;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 50%;
}
.headerDescriptionColumn {
  height: 70px;
  position: relative;
  z-index: 0;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
.headerDescription {
  text-align: center;
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
}
.headerTitleBottomLine {
  width: 350px;
  text-align: center;
  position: absolute;
  z-index: 0;
  top: 57%;
  left: 50.5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
