.workPostContainer {
  display: grid;
  gap: 3% 3%;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: auto;
  margin-bottom: 3em;
}

.itemName {
  font-family: "Kanit";
  font-weight: 200;
  font-size: 18px;
  color: rgb(112, 112, 112);
  padding: 0 0 0 17px;
  border-left: 6px solid #878ac4;
  border-bottom: 1px solid #878ac4;
}

.itemSpec {
  font-family: "Kanit", "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding: 0 0 0 23px;
  margin: 7px 0;
  word-wrap: break-word;
}
.itemNameMini {
  font-family: "Kanit";
  font-weight: 200;
  font-size: 14px;
  color: rgb(112, 112, 112);
  padding: 0 0 0 17px;
  border-left: 6px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.itemSpecMini {
  font-family: "Kanit", "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 17px;
  padding: 0 0 0 23px;
  margin: 7px 0;
  word-wrap: break-word;
}
.boothPrice {
  display: grid;
  gap: 3% 5%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.mdContents {
  font-family: "Kanit", "Noto Sans JP", sans-serif;
  font-weight: 200;
}
