.HTMLBody {
  font-family: Zen Old Mincho;
  color: var(--main__u5d7iy1r7GHyG3EmB);
}

.HTMLBody h1 {
  font-family: Zen Old Mincho;
  text-align: center;
  font-size: 24px;
  padding: 30px 0 10px 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HTMLBody h1::before {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: var(--accent__u5d7iy1r7GHyG3EmB);
}

.HTMLBody h1::after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: var(--accent__u5d7iy1r7GHyG3EmB);
}

.HTMLBody h1 > p {
  padding: 0 10px;
  margin: 0;
  color: var(--accent__u5d7iy1r7GHyG3EmB);
}
